/* ----- Sections ----- */
.section {
	scroll-snap-align: start;
}

/* ----- Containers ----- */

.dark-background {
	padding: 52px 0;
	position: relative;
	background-color: var(--dark-background);
	color: var(--color-white-additional);
}

.dark-background::before {
	content: url("data:image/svg+xml, <svg viewBox='0 0 1552 46' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1552 45.135C1552 45.135 1131 -2.86499 776 0.13501C421 3.13501 0 45.135 0 45.135V0.13501L1552 0.13501V45.135Z' fill='%23ffffff'/></svg>");
	display: block;
	position: absolute;
	top: -1px;
	left: -16px;
	right: -16px;
}

.dark-background::after {
	content: url("data:image/svg+xml, <svg viewBox='0 0 1552 46' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 45.135C0 45.135 384 0.13501 776 0.13501C1168 0.13501 1552 45.135 1552 45.135H0Z' fill='%23FFFFFF'/></svg>");
	display: block;
	position: absolute;
	bottom: -6px;
	left: -16px;
	right: -16px;
}

.dark-background .container-title {
	color: var(--dark-background);
	text-shadow:
	-1px -1px 0 var(--color-white),
	0    -1px 0 var(--color-white),
	1px  -1px 0 var(--color-white),
	1px   0   0 var(--color-white),
	1px   1px 0 var(--color-white),
	0     1px 0 var(--color-white),
	-1px  1px 0 var(--color-white),
	-1px  0   0 var(--color-white);
}

.dark-background a {
	text-decoration: none;
	color: var(--color-white);
}

.light-background .container-title {
	color: var(--color-white);
	background-color: var(--light-background);
	text-shadow:
	-1px -1px 0 var(--color-map),
	0    -1px 0 var(--color-map),
	1px  -1px 0 var(--color-map),
	1px   0   0 var(--color-map),
	1px   1px 0 var(--color-map),
	0     1px 0 var(--color-map),
	-1px  1px 0 var(--color-map),
	-1px  0   0 var(--color-map);
}

.container-title { 
	font-size: var(--font-size-container-title);
	font-weight: var(--font-weight-container-title);
	margin: var(--space-8x) 0;
	text-transform: uppercase;
}

.container-subtitle {
	font-size: var(--font-size-subtitle);
	font-weight: var(--font-weight-subtitle);
	text-transform: uppercase;
}

.container {
	max-width: var(--width-container);
	margin: 0 auto;
	padding: var(--main-padding);
	font-size: var(--font-size-main);
}


/* ----- Buttons ----- */

.btn {
	display: inline-block;
	text-decoration: none;
	padding: var(--space-4x) var(--space-10x);
	border-radius: 5px;
	font-weight: var(--font-weight-additional);
	border: 1px solid transparent;
	font-size: var(--font-size-main);
	transition: 300ms;
	cursor: pointer;
}

.btn:hover {
	background-color: var(--color-black);
	color: var(--color-white)
}

.btn.is--red {
	position: relative;
	background-color: var(--color-red);
	border-color: transparent;
	color: var(--color-white);
	overflow: hidden;
}

.btn.is--red:not(:hover, :active)::after {
	content: "";
	display: block;
	position: absolute;
	left: -100px;
	top: -20px;
	bottom: -20px;
	width: 64px;
	background: linear-gradient(to right, #fff0, #fe9d9d85);
	transform: rotate(25deg);
	filter: blur(5px);
	animation: btnblick 4500ms infinite ease-out 1s;
}

@keyframes btnblick {
	0% { left: -100px }
	6% { left: 75% }
	12% { left: 100% }
	100% { left: 100% }
}

.btn.is--red:hover {
	background-color: var(--color-white);
	color: var(--color-black);
	border-color: var(--color-black);
}

.btn.is--black {
	background-color: transparent;
	border-color: var(--color-white);
	color: var(--color-white);
}

.btn.is--black:hover {
	background-color: var(--color-white);
	color: var(--color-black);
}

input {
	padding: var(--space-4x) var(--space-10x) var(--space-4x) var(--space-4x);
	box-sizing: border-box;
	border: 1px solid rgb(188, 188, 188);
	border-radius: calc(var(--space) + 1px);
	width: 100%;
	font-size: var(--font-size-additional);
}

.white-img {
	filter: invert(100%);
}

@media screen and (max-width: 768px) {
	.container {
		padding: var(--space-12x) var(--space-3x);
	}
	
	.container-title {
		font-size: 30px;        
	}

	.container-subtitle {
		font-size: 20px;
	}

	button {
		width: 100%;
	}
}